{% load static %}
<div class="container-fluid d-sm-none fixed-top">
    <div class="row justify-content-center mobile-nav-wrap">
        <div class="col-10 text-center">
            <a href="{% url 'home' %}">
                <img class="img-fluid" src="https://newirishlife.s3.eu-west-1.amazonaws.com/static/media/Logo.png" 
                    width="60" alt="New Irish Logo">
            </a>
        </div>
        <div class="col-12 p-0 main-center-menu">
            <a class="rm" href="{% url 'home' %}">HOME</a>
            <a class="rm" href="{% url 'trip' %}">TRIP</a>
            <a class="rm" href="{% url 'work' %}">WORK</a>
            <a href="{% url 'life' %}">LIFE</a>
        </div>
        <div class="col-12 mt-1">
            <div class="row justify-content-center footer-line">
                <div class="col-4 l"></div>
                <div class="col-2 g"></div>
                <div class="col-4 l"></div>
            </div>
        </div>
        <div class="col-12 p-0 mt-2 button-bottom-menu">
            {% if request.user.is_authenticated %}
                <a class="rm" href="{% url 'products' %}"><i class="fas fa-shopping-cart"></i>SHOP</a>
                <a class="rm" href="{% url 'view_bag' %}">
                    {% if grand_total %}
                        <strong><i class="fas fa-shopping-bag"></i> &euro; {{ grand_total|floatformat:2 }}</strong>  
                    {% else %}
                        <i class="fas fa-shopping-bag"></i> Bag
                    {% endif %}
                </a>
                <a href="{% url 'profile' %}">Profile</a>
                <a id="logout-btn" href="#" data-toggle="modal" data-target="#logout-profile">
                    <strong><i class="fas fa-power-off"></i></strong>
                </a>
            {% else %}
                <a class="rm" href="{% url 'account_login' %}"><i class="fas fa-sign-in-alt"></i>Login</a>
                <a class="rm" href="{% url 'products' %}"><i class="fas fa-shopping-cart"></i>SHOP</a>
                <a href="{% url 'view_bag' %}">
                    {% if grand_total %}
                      <strong><i class="fas fa-shopping-bag"></i> &euro; {{ grand_total|floatformat:2 }}</strong>  
                    {% else %}
                        <i class="fas fa-shopping-bag"></i> Bag
                    {% endif %}
                </a>  
            {% endif %}
        </div>
    </div>
    <div class="row quote-borders p-2"></div>
</div>