{% extends "account/base.html" %}
{% load i18n %}
{% load account %}
{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block inner_content %}
    <div class="signup-app">
        <h2 class="accounts-heading m-0">{% trans "Password Reset" %}</h2>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <div class="p-element">
            {% blocktrans %} We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}
        </div>
    </div>
{% endblock %}
