{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block inner_content %}
<div class="signup-app">
    <h2 class="accounts-heading m-0">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <div class="p-element">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  
            Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
        </div>
        {% else %}
    {% if form %}
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="mb-4" name="action" value="{% trans 'change password' %}"/>
        </form>
    {% else %}
        <div class="p-element">{% trans 'Your password is now changed.' %}</div>
    {% endif %}
{% endif %}
</div>
{% endblock %}
