{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}
{% block inner_content %}
<div class="signup-app">
    <h2 class="accounts-heading m-0">{% trans "Verify Your E-mail Address" %}</h2>
    <div class="p-element">
        {% blocktrans %}
            We have sent an e-mail to your email address for verification. 
            Follow the link provided to finalize the signup process. 
            Please contact us at <strong>infonewirishlife@gmail.com</strong> if you do not receive it within a few minutes.
        {% endblocktrans %}
    </div>
</div>
{% endblock %}
