{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center p-4">
        <div class="col">
            <section class="section-profile">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-10">
                        <div class="row justify-content-center error-wrap-404 ">
                            <div class="col-12 large-right-menu p-0">
                               <h1 class="eror-404-h1 text-center">STAY CALM AND DON'T FREAK OUT!</h1>                  
                            </div>
                            <div class="col-12 col-10 text-center">
                                <p>
                                    Unfortunately, the page you are looking for is unavailable. 
                                    Try our <a href="{% url 'home' %}">HOME PAGE</a> page and start from there.
                                </p>   
                            </div>
                            <div class="col-12 p-2 quote-borders mt-4"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
    <script src="{% static 'js/emailnews.js' %}"></script>
{% endblock %}