{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% block meta %}
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block extra_meta %}
      <link rel="shortcut icon" type="image/png" href="{% static 'media/favicon.ico' %}"/>
      <meta name="description" content="Web-based travel guide for providing correct information on how easily start living and working in Ireland with the possibility to publish your business or receive best tips for your CV and Linked In profile.">
    {% endblock %}

    {% block corecss %}
      <link rel="stylesheet" href="{% static 'libraries/bootstrap/bootstrap.css' %}">
      <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap" rel="stylesheet"> 
      <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merienda:wght@400;700&display=swap" rel="stylesheet"> 
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Nunito:wght@600&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
      <script src="https://kit.fontawesome.com/c8a0926547.js" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="{% static 'libraries/bootstrap/bootstrap.min.js' %}"></script>
      <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
      <script src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
      <script src="{% static 'libraries/scripts/emailjs.js' %}"></script>
    {% endblock %}

    <title>New Irish Life {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <div class="blur"></div>
    {% include 'includes/mobile-main-nav.html' %}
    {% include 'includes/large-main-nav.html' %}

    {% if messages %}
      <div class="message-container">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% include 'includes/footer.html' %}

    {% block postloadjs %}
      <script src="{% static 'js/emailnews.js' %}"></script>
      <script src="{% static 'js/toast.js' %}"></script>
    {% endblock %}
  </body>
</html>